# Ignore contrib/kvm and all subdirs
contrib/kvm

# Ignore rootfs for contrib/vmtests
fgs-bench-rootfs*

# Ignore compiled binaries and libraries
go-tests/
lib/
bin/
bpf/objs
hubble-enterprise
hubble-fgs
fgs-alignchecker
fgs-bench
checkerpc
tetragon-fs-scanner
tetragon-runner
contrib/tester-progs/capabilities-tester
contrib/tester-progs/dup-tester
contrib/tester-progs/fork-tester
contrib/tester-progs/namespace-tester
contrib/tester-progs/sigkill-tester
contrib/tester-progs/trigger-test-events

# Ignore OSS artifacts
tetra
tetragon
tetragon-alignchecker
