/bin
lib/*
/release
/tetragon
/tetragon-nok8s
/tetra
/tetra-nok8s
/tetragon-aggregator
/tetragon-operator
/fgs-bench
/alignchecker
/parsertest
/checkerpc
/build
/tetragon-fs-scanner
/tetragon-runner
/parsertest-gen
observer.test
go-tests
fgs-bench-rootfs*
ksrc
kbuild
latest.json
cscope.files
cscope.po.out
cscope.out
cscope.in.out
.vscode
compile_commands.json
/fgs-bench-graph
/vendor/github.com/cilium/tetragon/contrib
/tetragon-oci-hook
/tetragon-oci-hook-setup
/tetragon-metrics-docs
.DS_Store
/tetrabox
/tetrabox-k8s
/ee-tester-progs.tar.gz
**/_data/**
!**/_data/images.json
!**/_data/kernels.json
