apiVersion: cilium.io/v1alpha1
kind: TracingPolicy
metadata:
  name: "file-monitoring"
spec:
  file:
    file_paths:
    - {{.MatchedPath}}
    monitorHostFiles: true
    selectors: # this will be overriden during the tests, we have to use the maximum number of selectors here
    - matchBinaries:
      - operator: "In"
        values:
        - "/usr/bin/cat"
      matchOperations:
      - operator: "In"
        values:
        - "FILE_DELETE"
    - matchBinaries:
      - operator: "In"
        values:
        - "/usr/bin/cat"
      matchOperations:
      - operator: "In"
        values:
        - "FILE_DELETE"
