apiVersion: cilium.io/v1alpha1
kind: TracingPolicy
metadata:
  name: "file-monitoring"
spec:
  file:
    file_config:
      maxWatchedInodes: 4096
    file_paths:
    - {{.MatchedPath}}
    monitorHostFiles: true
