apiVersion: cilium.io/v1alpha1
kind: TracingPolicy
metadata:
  name: "file-exec-monitoring"
spec:
  exec:
    enable: true
    selectors:
    - matchDigests:
      - operator: "In"
        values:
        - {{.MatchedDigest}}
      matchActions:
      - action: Block
