apiVersion: cilium.io/v1alpha1
kind: TracingPolicy
metadata:
  name: "file-monitoring"
spec:
  file:
    file_config:
      watchedInodeMapMaxiumSize: "4096"
    file_paths_patterns:
    - type: PathPrefix
      path_prefix:
        prefix: {{.MatchedPath}}
    monitorHostFiles: true
