<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">

  <!-- For this release we bundle the test-signed eBPF-for-windows -->

  <Fragment>

    <Component Id="comp.eBPFPATH" Guid="{C062B980-C5C0-4FC7-A4F9-A751C2B419FE}">
      <Environment Id="env.eBPFPATH"
                   Name="PATH"
                   Value="[dir.eBPFWindows]"
                   Permanent="no"
                   Part="last"
                   Action="set"
                   System="yes"
                   Separator=";" />
    </Component>

    <ComponentGroup Id="cgrp.eBPFWindows.Drivers" Directory="dir.eBPFWindows.Drivers">
      <Files Include="!(bindpath.staging)\ebpf-for-windows\drivers\*" />
    </ComponentGroup>

    <ComponentGroup Id="cgrp.eBPFWindows.Jit" Directory="dir.eBPFWindows.Jit">
      <Files Include="!(bindpath.staging)\ebpf-for-windows\JIT\*.pdb" />

      <!-- eBPF Service -->
      <Component Id="comp.eBPFWindows.eBPFService" Guid="FB31284D-7E96-4DAF-96A9-477031C90927">
        <File Source="!(bindpath.staging)\ebpf-for-windows\JIT\ebpfsvc.exe" KeyPath="yes" />

        <ServiceInstall Id="svci.eBPFWindows.eBPFService"
                        Name="eBPFSvc"
                        DisplayName="eBPF Service"
                        Description="eBPF Service"
                        ErrorControl="normal"
                        Start="auto"
                        Type="ownProcess"
                        Account="[WIX_ACCOUNT_LOCALSERVICE]"
                        Interactive="no" >

          <ServiceConfig ServiceSid="restricted"
                         OnInstall="yes"
                         OnReinstall="yes" />

          <ServiceDependency Id="eBPFCore"/>

          <util:ServiceConfig FirstFailureActionType="restart"
                              SecondFailureActionType="restart"
                              ThirdFailureActionType="restart" />
        </ServiceInstall>

        <ServiceControl Id="svcc.eBPFWindows.eBPFService.start"
                        Name="eBPFSvc"
                        Start="install"
                        Wait="yes" />

        <ServiceControl Id="svcc.eBPFWindows.eBPFService.stop"
                        Name="eBPFSvc"
                        Stop="both"
                        Wait="yes" />

        <ServiceControl Id="svcc.eBPFWindows.eBPFService.uninstall"
                        Name="eBPFSvc"
                        Remove="uninstall"
                        Wait="yes" />
      </Component>
    </ComponentGroup>


    <ComponentGroup Id="cgrp.eBPFWindows" Directory="dir.eBPFWindows">
      <ComponentRef Id="comp.eBPFPATH" />
      <ComponentGroupRef Id="cgrp.eBPFWindows.Drivers" />
      <ComponentGroupRef Id="cgrp.eBPFWindows.Jit" />
      <Files Include="!(bindpath.staging)\ebpf-for-windows\*" />
    </ComponentGroup>


    <!-- eBPFCore -->
    <CustomAction Id="Install_eBPFCore" Execute="deferred" Return="check" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="Install_eBPFCore" Before="Install_eBPFCore" Sequence="execute"
                 Value='"[%ComSpec]" /c sc.exe create eBPFCore type= kernel start= auto binpath= "[dir.eBPFWindows.Drivers]eBPFCore.sys"'/>

    <CustomAction Id="InstallRollback_eBPFCore" Execute="rollback" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="InstallRollback_eBPFCore" Before="InstallRollback_eBPFCore" Sequence="execute"
                 Value='"[%ComSpec]" /c sc.exe delete eBPFCore'/>

    <CustomAction Id="Start_eBPFCore" Execute="deferred" Return="check" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="Start_eBPFCore" Before="Start_eBPFCore" Sequence="execute"
                 Value='"[%ComSpec]" /c net.exe start eBPFCore'/>

    <CustomAction Id="StartRollback_eBPFCore" Execute="rollback" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="StartRollback_eBPFCore" Before="StartRollback_eBPFCore" Sequence="execute"
                 Value='"[%ComSpec]" /c net.exe stop eBPFCore'/>

    <CustomAction Id="Stop_eBPFCore" Execute="deferred" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="Stop_eBPFCore" Before="Stop_eBPFCore" Sequence="execute"
                 Value='"[%ComSpec]" /c net.exe stop eBPFCore'/>

    <CustomAction Id="StopRollback_eBPFCore" Execute="rollback" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="StopRollback_eBPFCore" Before="StopRollback_eBPFCore" Sequence="execute"
                 Value='"[%ComSpec]" /c net.exe start eBPFCore'/>

    <CustomAction Id="Uninstall_eBPFCore" Execute="deferred" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="Uninstall_eBPFCore" Before="Uninstall_eBPFCore" Sequence="execute"
                 Value='"[%ComSpec]" /c sc.exe delete eBPFCore'/>

    <CustomAction Id="UninstallRollback_eBPFCore" Execute="rollback" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="UninstallRollback_eBPFCore" Before="UninstallRollback_eBPFCore" Sequence="execute"
                 Value='"[%ComSpec]" /c sc.exe create eBPFCore type= kernel start= auto binpath= "[dir.eBPFWindows.Drivers]eBPFCore.sys"'/>

    <CustomAction Id="Flush_eBPFCore" Execute="deferred" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="Flush_eBPFCore" Before="Flush_eBPFCore" Sequence="execute"
                 Value='"[%ComSpec]" /c sc.exe query eBPFCore'/>


    <!-- NetEbpfExt -->
    <CustomAction Id="Install_NetEbpfExt" Execute="deferred" Return="check" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="Install_NetEbpfExt" Before="Install_NetEbpfExt" Sequence="execute"
                 Value='"[%ComSpec]" /c sc.exe create NetEbpfExt type= kernel start= auto binpath= "[dir.eBPFWindows.Drivers]NetEbpfExt.sys"'/>

    <CustomAction Id="InstallRollback_NetEbpfExt" Execute="rollback" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="InstallRollback_NetEbpfExt" Before="InstallRollback_NetEbpfExt" Sequence="execute"
                 Value='"[%ComSpec]" /c sc.exe delete NetEbpfExt'/>

    <CustomAction Id="Start_NetEbpfExt" Execute="deferred" Return="check" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="Start_NetEbpfExt" Before="Start_NetEbpfExt" Sequence="execute"
                 Value='"[%ComSpec]" /c net.exe start NetEbpfExt'/>

    <CustomAction Id="StartRollback_NetEbpfExt" Execute="rollback" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="StartRollback_NetEbpfExt" Before="StartRollback_NetEbpfExt" Sequence="execute"
                 Value='"[%ComSpec]" /c net.exe stop NetEbpfExt'/>

    <CustomAction Id="Stop_NetEbpfExt" Execute="deferred" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="Stop_NetEbpfExt" Before="Stop_NetEbpfExt" Sequence="execute"
                 Value='"[%ComSpec]" /c net.exe stop NetEbpfExt'/>

    <CustomAction Id="StopRollback_NetEbpfExt" Execute="rollback" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="StopRollback_NetEbpfExt" Before="StopRollback_NetEbpfExt" Sequence="execute"
                 Value='"[%ComSpec]" /c net.exe start NetEbpfExt'/>

    <CustomAction Id="Uninstall_NetEbpfExt" Execute="deferred" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="Uninstall_NetEbpfExt" Before="Uninstall_NetEbpfExt" Sequence="execute"
                 Value='"[%ComSpec]" /c sc.exe delete NetEbpfExt'/>

    <CustomAction Id="UninstallRollback_NetEbpfExt" Execute="rollback" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="UninstallRollback_NetEbpfExt" Before="UninstallRollback_NetEbpfExt" Sequence="execute"
                 Value='"[%ComSpec]" /c sc.exe create NetEbpfExt type= kernel start= auto binpath= "[dir.eBPFWindows.Drivers]NetEbpfExt.sys"'/>


    <!-- ebpfnetsh.dll -->
    <CustomAction Id="Install_ebpfnetsh_helper" Execute="deferred" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="Install_ebpfnetsh_helper" Before="Install_ebpfnetsh_helper" Sequence="execute"
                 Value='"[%ComSpec]" /c netsh add helper ebpfnetsh.dll' />

    <CustomAction Id="InstallRollback_ebpfnetsh_helper" Execute="rollback" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="InstallRollback_ebpfnetsh_helper" Before="InstallRollback_ebpfnetsh_helper" Sequence="execute"
                 Value='"[%ComSpec]" /c netsh delete helper ebpfnetsh.dll' />

    <CustomAction Id="Uninstall_ebpfnetsh_helper" Execute="deferred" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="Uninstall_ebpfnetsh_helper" Before="Uninstall_ebpfnetsh_helper" Sequence="execute"
                 Value='"[%ComSpec]" /c netsh delete helper ebpfnetsh.dll' />

    <CustomAction Id="UninstallRollback_ebpfnetsh_helper" Execute="rollback" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="UninstallRollback_ebpfnetsh_helper" Before="UninstallRollback_ebpfnetsh_helper" Sequence="execute"
                 Value='"[%ComSpec]" /c netsh add helper ebpfnetsh.dll' />


    <!-- export_program_info -->
    <?define ExportCmd = '"[%ComSpec]" /c "[dir.eBPFWindows]export_program_info.exe"' ?>
    <CustomAction Id="Install_eBPF_store_clear_HKLM" Execute="deferred" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="Install_eBPF_store_clear_HKLM" Before="Install_eBPF_store_clear_HKLM" Sequence="execute" Value='$(var.ExportCmd) --clear'/>

    <CustomAction Id="InstallRollback_eBPF_store_clear_HKLM" Execute="rollback" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="InstallRollback_eBPF_store_clear_HKLM" Before="InstallRollback_eBPF_store_clear_HKLM" Sequence="execute" Value='$(var.ExportCmd) --clear'/>

    <CustomAction Id="Install_eBPF_store_setup_HKLM" Execute="deferred" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="Install_eBPF_store_setup_HKLM" Before="Install_eBPF_store_setup_HKLM" Sequence="execute" Value='$(var.ExportCmd)'/>

    <CustomAction Id="Uninstall_eBPF_store_clear_HKLM" Execute="deferred" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="Uninstall_eBPF_store_clear_HKLM" Before="Uninstall_eBPF_store_clear_HKLM" Sequence="execute" Value='$(var.ExportCmd) --clear'/>


    <CustomAction Id="Install_eBPF_store_clear_HKCU" Execute="deferred" Return="ignore" Impersonate="yes" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="Install_eBPF_store_clear_HKCU" Before="Install_eBPF_store_clear_HKCU" Sequence="execute" Value='$(var.ExportCmd) --clear'/>

    <CustomAction Id="InstallRollback_eBPF_store_clear_HKCU" Execute="rollback" Return="ignore" Impersonate="yes" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="InstallRollback_eBPF_store_clear_HKCU" Before="InstallRollback_eBPF_store_clear_HKCU" Sequence="execute" Value='$(var.ExportCmd) --clear'/>

    <CustomAction Id="Install_eBPF_store_setup_HKCU" Execute="deferred" Return="ignore" Impersonate="yes" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="Install_eBPF_store_setup_HKCU" Before="Install_eBPF_store_setup_HKCU" Sequence="execute" Value='$(var.ExportCmd)'/>

    <CustomAction Id="Uninstall_eBPF_store_clear_HKCU" Execute="deferred" Return="ignore" Impersonate="yes" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="Uninstall_eBPF_store_clear_HKCU" Before="Uninstall_eBPF_store_clear_HKCU" Sequence="execute" Value='$(var.ExportCmd) --clear'/>

  </Fragment>

</Wix>
