<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx">

  <!-- For this release we bundle the test-signed eBPF-for-windows -->

  <Fragment>
    
    <Component Id="comp.eBPFPATH" Guid="{C062B980-C5C0-4FC7-A4F9-A751C2B419FE}">
        <Environment Id="env.eBPFPATH" Name="PATH" Value="[dir.eBPFWindows]" Permanent="no" Part="last" Action="set" System="yes" Separator=";" />
    </Component>
    
    <ComponentGroup Id="comp.eBPFWindows.Drivers" Directory="dir.eBPFWindows.Drivers">
      <Files Include="!(bindpath.staging)\ebpf-for-windows\drivers\*" />
    </ComponentGroup>

    <ComponentGroup Id="comp.eBPFWindows.Jit" Directory="dir.eBPFWindows.Jit">
      <Files Include="!(bindpath.staging)\ebpf-for-windows\JIT\*" />
    </ComponentGroup>

    <!--Install/Uninstall the eBPF Service -->
		<ComponentGroup Id="comp.eBPFWindows.ebpfService" Directory="dir.eBPFWindows.Jit">
			<Component Id="comp.eBPFWindows.ebpfService" Guid="{25F4F9A3-78EB-4598-9982-98FB65377A51}">
				<File Source="C:\Program Files\ebpf-for-windows\JIT\ebpfsvc.exe" KeyPath="yes" />
				<ServiceInstall Id="eBPFSvcInstaller" Name="eBPFSvc" DisplayName="eBPF Service" Description="eBPF Service"
								Start="auto"
								Type="ownProcess"
								ErrorControl="normal"
								Account="[WIX_ACCOUNT_LOCALSERVICE]"
								Vital="yes"
								Interactive="no">
					<ServiceConfig ServiceSid="restricted" OnInstall="yes" OnReinstall="yes" />
				</ServiceInstall>
				<ServiceControl Id="ebpfService.Start" Name="eBPFSvc"
								Start="install"
								Wait="no" />
				<ServiceControl Id="ebpfService.Stop" Name="eBPFSvc"
								Remove="uninstall"
								Stop="both"
								Wait="yes" />
			</Component>
		</ComponentGroup>

    <ComponentGroup Id="comp.eBPFWindows" Directory="dir.eBPFWindows">
      <ComponentRef Id="comp.eBPFPATH" />
      <ComponentGroupRef Id="comp.eBPFWindows.Drivers" />
      <ComponentGroupRef Id="comp.eBPFWindows.Jit" />
      <ComponentGroupRef Id="comp.eBPFWindows.ebpfService" />
      <Files Include="!(bindpath.staging)\ebpf-for-windows\*" />
    </ComponentGroup>

    
    <!-- eBPFCore -->
    <CustomAction Id="eBPFCore_Driver_install" Execute="deferred" Return="check" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="eBPFCore_Driver_install" Before="eBPFCore_Driver_install" Sequence="execute"
                 Value='"[%ComSpec]" /c sc.exe create eBPFCore type=kernel start=auto binpath="[dir.eBPFWindows.Drivers]eBPFCore.sys"'/>

    <CustomAction Id="eBPFCore_Driver_install_rollback" Execute="rollback" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="eBPFCore_Driver_install_rollback" Before="eBPFCore_Driver_install_rollback" Sequence="execute"
                 Value='"[%ComSpec]" /c sc.exe delete eBPFCore'/>

    <CustomAction Id="eBPFCore_Driver_start" Execute="deferred" Return="check" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="eBPFCore_Driver_start" Before="eBPFCore_Driver_start" Sequence="execute"
                 Value='"[%ComSpec]" /c net.exe start eBPFCore'/>

    <CustomAction Id="eBPFCore_Driver_start_rollback" Execute="rollback" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="eBPFCore_Driver_start_rollback" Before="eBPFCore_Driver_start_rollback" Sequence="execute"
                 Value='"[%ComSpec]" /c net.exe stop eBPFCore'/>

    <CustomAction Id="eBPFCore_Driver_stop" Execute="deferred" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="eBPFCore_Driver_stop" Before="eBPFCore_Driver_stop" Sequence="execute"
                 Value='"[%ComSpec]" /c net.exe stop eBPFCore'/>

    <CustomAction Id="eBPFCore_Driver_stop_rollback" Execute="rollback" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="eBPFCore_Driver_stop_rollback" Before="eBPFCore_Driver_stop_rollback" Sequence="execute"
                 Value='"[%ComSpec]" /c net.exe start eBPFCore'/>

    <CustomAction Id="eBPFCore_Driver_uninstall" Execute="deferred" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="eBPFCore_Driver_uninstall" Before="eBPFCore_Driver_uninstall" Sequence="execute"
                 Value='"[%ComSpec]" /c sc.exe delete eBPFCore'/>

    <CustomAction Id="eBPFCore_Driver_uninstall_rollback" Execute="rollback" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="eBPFCore_Driver_uninstall_rollback" Before="eBPFCore_Driver_uninstall_rollback" Sequence="execute"
                 Value='"[%ComSpec]" /c sc.exe create eBPFCore type=kernel start=auto binpath="[dir.eBPFWindows.Drivers]eBPFCore.sys"'/>

    <CustomAction Id="eBPFCore_Driver_uninstall_flush" Execute="deferred" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="eBPFCore_Driver_uninstall_flush" Before="eBPFCore_Driver_uninstall_flush" Sequence="execute"
                 Value='"[%ComSpec]" /c sc.exe query eBPFCore'/>


    <!-- NetEbpfExt -->
    <CustomAction Id="NetEbpfExt_Driver_install" Execute="deferred" Return="check" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="NetEbpfExt_Driver_install" Before="NetEbpfExt_Driver_install" Sequence="execute"
                 Value='"[%ComSpec]" /c sc.exe create NetEbpfExt type=kernel start=auto binpath="[dir.eBPFWindows.Drivers]NetEbpfExt.sys"'/>

    <CustomAction Id="NetEbpfExt_Driver_install_rollback" Execute="rollback" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="NetEbpfExt_Driver_install_rollback" Before="NetEbpfExt_Driver_install_rollback" Sequence="execute"
                 Value='"[%ComSpec]" /c sc.exe delete NetEbpfExt'/>

    <CustomAction Id="NetEbpfExt_Driver_start" Execute="deferred" Return="check" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="NetEbpfExt_Driver_start" Before="NetEbpfExt_Driver_start" Sequence="execute"
                 Value='"[%ComSpec]" /c net.exe start NetEbpfExt'/>

    <CustomAction Id="NetEbpfExt_Driver_start_rollback" Execute="rollback" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="NetEbpfExt_Driver_start_rollback" Before="NetEbpfExt_Driver_start_rollback" Sequence="execute"
                 Value='"[%ComSpec]" /c net.exe stop NetEbpfExt'/>

    <CustomAction Id="NetEbpfExt_Driver_stop" Execute="deferred" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="NetEbpfExt_Driver_stop" Before="NetEbpfExt_Driver_stop" Sequence="execute"
                 Value='"[%ComSpec]" /c net.exe stop NetEbpfExt'/>

    <CustomAction Id="NetEbpfExt_Driver_stop_rollback" Execute="rollback" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="NetEbpfExt_Driver_stop_rollback" Before="NetEbpfExt_Driver_stop_rollback" Sequence="execute"
                 Value='"[%ComSpec]" /c net.exe start NetEbpfExt'/>

    <CustomAction Id="NetEbpfExt_Driver_uninstall" Execute="deferred" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="NetEbpfExt_Driver_uninstall" Before="NetEbpfExt_Driver_uninstall" Sequence="execute"
                 Value='"[%ComSpec]" /c sc.exe delete NetEbpfExt'/>

    <CustomAction Id="NetEbpfExt_Driver_uninstall_rollback" Execute="rollback" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="NetEbpfExt_Driver_uninstall_rollback" Before="NetEbpfExt_Driver_uninstall_rollback" Sequence="execute"
                 Value='"[%ComSpec]" /c sc.exe create NetEbpfExt type=kernel start=auto binpath="[dir.eBPFWindows.Drivers]NetEbpfExt.sys"'/>

    
    <!-- ebpfnetsh.dll -->
    <CustomAction Id="ebpfnetsh_helper_install" Execute="deferred" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="ebpfnetsh_helper_install" Before="ebpfnetsh_helper_install" Sequence="execute"
                 Value='"[%ComSpec]" /c netsh add helper ebpfnetsh.dll' />

    <CustomAction Id="ebpfnetsh_helper_install_rollback" Execute="rollback" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="ebpfnetsh_helper_install_rollback" Before="ebpfnetsh_helper_install_rollback" Sequence="execute"
                 Value='"[%ComSpec]" /c netsh delete helper ebpfnetsh.dll' />

    <CustomAction Id="ebpfnetsh_helper_uninstall" Execute="deferred" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="ebpfnetsh_helper_uninstall" Before="ebpfnetsh_helper_uninstall" Sequence="execute"
                 Value='"[%ComSpec]" /c netsh delete helper ebpfnetsh.dll' />

    <CustomAction Id="ebpfnetsh_helper_uninstall_rollback" Execute="rollback" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="ebpfnetsh_helper_uninstall_rollback" Before="ebpfnetsh_helper_uninstall_rollback" Sequence="execute"
                 Value='"[%ComSpec]" /c netsh add helper ebpfnetsh.dll' />

    
    <!-- export_program_info -->
    <?define ExportCmd = '"[%ComSpec]" /c "[dir.eBPFWindows]export_program_info.exe"' ?>
    <CustomAction Id="eBPF_store_clear_HKLM_install" Execute="deferred" Return="check" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="eBPF_store_clear_HKLM_install" Before="eBPF_store_clear_HKLM_install" Sequence="execute" Value='$(var.ExportCmd) --clear'/>

    <CustomAction Id="eBPF_store_clear_HKLM_install_rollback" Execute="rollback" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="eBPF_store_clear_HKLM_install_rollback" Before="eBPF_store_clear_HKLM_install_rollback" Sequence="execute" Value='$(var.ExportCmd) --clear'/>

    <CustomAction Id="eBPF_store_setup_HKLM_install" Execute="deferred" Return="check" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="eBPF_store_setup_HKLM_install" Before="eBPF_store_setup_HKLM_install" Sequence="execute" Value='$(var.ExportCmd)'/>

    <CustomAction Id="eBPF_store_clear_HKLM_uninstall" Execute="deferred" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="eBPF_store_clear_HKLM_uninstall" Before="eBPF_store_clear_HKLM_uninstall" Sequence="execute" Value='$(var.ExportCmd) --clear'/>

    
    <CustomAction Id="eBPF_store_clear_HKCU_install" Execute="deferred" Return="check" Impersonate="yes" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="eBPF_store_clear_HKCU_install" Before="eBPF_store_clear_HKCU_install" Sequence="execute" Value='$(var.ExportCmd) --clear'/>

    <CustomAction Id="eBPF_store_clear_HKCU_install_rollback" Execute="rollback" Return="ignore" Impersonate="yes" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="eBPF_store_clear_HKCU_install_rollback" Before="eBPF_store_clear_HKCU_install_rollback" Sequence="execute" Value='$(var.ExportCmd) --clear'/>

    <CustomAction Id="eBPF_store_setup_HKCU_install" Execute="deferred" Return="check" Impersonate="yes" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="eBPF_store_setup_HKCU_install" Before="eBPF_store_setup_HKCU_install" Sequence="execute" Value='$(var.ExportCmd)'/>

    <CustomAction Id="eBPF_store_clear_HKCU_uninstall" Execute="deferred" Return="ignore" Impersonate="yes" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="eBPF_store_clear_HKCU_uninstall" Before="eBPF_store_clear_HKCU_uninstall" Sequence="execute" Value='$(var.ExportCmd) --clear'/>
  
  </Fragment>

</Wix>
