<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">

  <Fragment>
    <ComponentGroup Id="comp.TetragonBinaries" Directory="dir.TetragonBinaries">
      <Files Include="!(bindpath.staging)\tetragon\Tetra.exe" />
    </ComponentGroup>

    <ComponentGroup Id="comp.TetragonBpfDrivers" Directory="dir.TetragonBpfDrivers">
      <File Source="!(bindpath.staging)\Release\EbpfApi.dll"/>
      <File Source="!(bindpath.staging)\Release\ntos_ebpf_ext_export_program_info.exe"/>
      <File Source="!(bindpath.staging)\Release\ntosebpfext.inf"/>
      <File Source="!(bindpath.staging)\Release\ntosebpfext.sys"/>
      <File Source="!(bindpath.staging)\Release\ntosebpfext.pdb"/>
      <File Source="!(bindpath.staging)\Release\ntosebpfext.wprp"/>
      <File Source="!(bindpath.staging)\Release\process_monitor.sys" />
      <File Source="!(bindpath.staging)\Release\tcp_connect.sys" />
    </ComponentGroup>

    <Component Id="comp.TracingPolicyDir" Directory="dir.TracingPolicyDir" Guid="177B85FE-85D7-4C97-8C5D-BC026060681A">
      <CreateFolder />
      <RemoveFolder Id="dir.TracingPolicyDir" On="uninstall" />
    </Component>

    <Component Id="comp.OtherPolicyDir" Directory="dir.OtherPolicyDir" Guid="C395FFB4-6E4E-415C-B651-2B17ADD661CA">
      <CreateFolder />
      <RemoveFolder Id="dir.OtherPolicyDir" On="uninstall" />
    </Component>

    <!-- TetragonEnterprise Service-->
    <Component Id="comp.TetragonWindowsService" Guid="25BFCEE3-64C3-4994-AFE1-B3C782A63D5D" Directory="dir.TetragonBinaries">
      <File Source="!(bindpath.staging)\tetragon\Tetragon.exe" KeyPath="yes" />

      <ServiceInstall Id="svci.Tetragon.Service"
                      Name="TetragonEnterprise"
                      DisplayName="Tetragon Enterprise"
                      Description="Tetragon Enterprise"
                      ErrorControl="normal"
                      Start="auto"
                      Type="ownProcess"
                      Account="[WIX_ACCOUNT_LOCALSYSTEM]"
                      Interactive="no"
                      Arguments='--enable-tcp --enable-udp --enable-application-model --export-filename "[INSTALLFOLDER]tetragon-events.json"'>

        <ServiceConfig ServiceSid="unrestricted"
                       OnInstall="yes"
                       OnReinstall="yes" />

        <ServiceDependency Id="eBPFCore"/>
        <ServiceDependency Id="NetEbpfExt" />
        <ServiceDependency Id="NtosEbpfExt" />

        <util:ServiceConfig FirstFailureActionType="restart"
                            SecondFailureActionType="restart"
                            ThirdFailureActionType="restart" />
      </ServiceInstall>

      <ServiceControl Id="svcc.Tetragon.Service.start"
                      Name="TetragonEnterprise"
                      Start="install"
                      Wait="yes" />

      <ServiceControl Id="svcc.Tetragon.Service.stop"
                      Name="TetragonEnterprise"
                      Stop="both"
                      Wait="yes" />

      <ServiceControl Id="svcc.Tetragon.Service.uninstall"
                      Name="TetragonEnterprise"
                      Remove="uninstall"
                      Wait="yes" />
    </Component>


    <!-- NtosEbpfExt -->
    <CustomAction Id="Install_NtosEbpfExt" Execute="deferred" Return="check" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="Install_NtosEbpfExt" Before="Install_NtosEbpfExt" Sequence="execute"
                 Value='"[%ComSpec]" /c sc.exe create NtosEbpfExt type= kernel start= auto binpath= "[dir.TetragonBpfDrivers]NtosEbpfExt.sys"'/>

    <CustomAction Id="InstallRollback_NtosEbpfExt" Execute="rollback" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="InstallRollback_NtosEbpfExt" Before="InstallRollback_NtosEbpfExt" Sequence="execute"
                 Value='"[%ComSpec]" /c sc.exe delete NtosEbpfExt'/>

    <CustomAction Id="Start_NtosEbpfExt" Execute="deferred" Return="check" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="Start_NtosEbpfExt" Before="Start_NtosEbpfExt" Sequence="execute"
                 Value='"[%ComSpec]" /c net.exe start NtosEbpfExt'/>

    <CustomAction Id="StartRollback_NtosEbpfExt" Execute="rollback" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="StartRollback_NtosEbpfExt" Before="StartRollback_NtosEbpfExt" Sequence="execute"
                 Value='"[%ComSpec]" /c net.exe stop NtosEbpfExt'/>

    <CustomAction Id="Stop_NtosEbpfExt" Execute="deferred" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="Stop_NtosEbpfExt" Before="Stop_NtosEbpfExt" Sequence="execute"
                 Value='"[%ComSpec]" /c net.exe stop NtosEbpfExt'/>

    <CustomAction Id="StopRollback_NtosEbpfExt" Execute="rollback" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="StopRollback_NtosEbpfExt" Before="StopRollback_NtosEbpfExt" Sequence="execute"
                 Value='"[%ComSpec]" /c net.exe start NtosEbpfExt'/>

    <CustomAction Id="Uninstall_NtosEbpfExt" Execute="deferred" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="Uninstall_NtosEbpfExt" Before="Uninstall_NtosEbpfExt" Sequence="execute"
                 Value='"[%ComSpec]" /c sc.exe delete NtosEbpfExt'/>

    <CustomAction Id="UninstallRollback_NtosEbpfExt" Execute="rollback" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="UninstallRollback_NtosEbpfExt" Before="UninstallRollback_NtosEbpfExt" Sequence="execute"
                 Value='"[%ComSpec]" /c sc.exe create NtosEbpfExt type= kernel start= auto binpath= "[dir.TetragonBpfDrivers]NtosEbpfExt.sys"'/>


    <!-- ntos_ebpf_ext_export_program_info -->
    <?define TetraExportCmd = '"[%ComSpec]" /c "[dir.TetragonBpfDrivers]ntos_ebpf_ext_export_program_info.exe"' ?>
    <CustomAction Id="Install_TetraeBPF_store_clear_HKLM" Execute="deferred" Return="check" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="Install_TetraeBPF_store_clear_HKLM" Before="Install_TetraeBPF_store_clear_HKLM" Sequence="execute" Value='$(var.TetraExportCmd) --clear'/>

    <CustomAction Id="InstallRollback_TetraeBPF_store_clear_HKLM" Execute="rollback" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="InstallRollback_TetraeBPF_store_clear_HKLM" Before="InstallRollback_TetraeBPF_store_clear_HKLM" Sequence="execute" Value='$(var.TetraExportCmd) --clear'/>

    <CustomAction Id="Install_TetraeBPF_store_setup_HKLM" Execute="deferred" Return="check" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="Install_TetraeBPF_store_setup_HKLM" Before="Install_TetraeBPF_store_setup_HKLM" Sequence="execute" Value='$(var.TetraExportCmd)'/>

    <CustomAction Id="Uninstall_TetraeBPF_store_clear_HKLM" Execute="deferred" Return="ignore" Impersonate="no" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="Uninstall_TetraeBPF_store_clear_HKLM" Before="Uninstall_TetraeBPF_store_clear_HKLM" Sequence="execute" Value='$(var.TetraExportCmd) --clear'/>


    <CustomAction Id="Install_TetraeBPF_store_clear_HKCU" Execute="deferred" Return="check" Impersonate="yes" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="Install_TetraeBPF_store_clear_HKCU" Before="Install_TetraeBPF_store_clear_HKCU" Sequence="execute" Value='$(var.TetraExportCmd) --clear'/>

    <CustomAction Id="InstallRollback_TetraeBPF_store_clear_HKCU" Execute="rollback" Return="ignore" Impersonate="yes" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="InstallRollback_TetraeBPF_store_clear_HKCU" Before="InstallRollback_TetraeBPF_store_clear_HKCU" Sequence="execute" Value='$(var.TetraExportCmd) --clear'/>

    <CustomAction Id="Install_TetraeBPF_store_setup_HKCU" Execute="deferred" Return="check" Impersonate="yes" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="Install_TetraeBPF_store_setup_HKCU" Before="Install_TetraeBPF_store_setup_HKCU" Sequence="execute" Value='$(var.TetraExportCmd)'/>

    <CustomAction Id="Uninstall_TetraeBPF_store_clear_HKCU" Execute="deferred" Return="ignore" Impersonate="yes" DllEntry="WixQuietExec64" BinaryRef="Wix4UtilCA_X64" />
    <SetProperty Id="Uninstall_TetraeBPF_store_clear_HKCU" Before="Uninstall_TetraeBPF_store_clear_HKCU" Sequence="execute" Value='$(var.TetraExportCmd) --clear'/>

  </Fragment>

</Wix>
