<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">

  <?include Metadata.wxi ?>

  <Package Name="$(ProductName)"
           Manufacturer="$(Manufacturer)"
           Version="$(ProductVersion)"
           ProductCode="$(ProductCode)"
           UpgradeCode="$(UpgradeCode)"
           InstallerVersion="500"
           Language="1033">

    <util:QueryWindowsWellKnownSIDs />

    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <MediaTemplate EmbedCab="yes"  />

    <Icon Id="icon.TetragonShield" SourceFile="assets\tetragon-shield.ico" />

    <Property Id="ARPCONTACT" Value="Isovalent at Cisco" />
    <Property Id="ARPPRODUCTICON" Value="icon.TetragonShield" />
    <Property Id="ARPHELPLINK" Value="https://isovalent.com" />

    <!-- Disable superfluous 'files in use' message, we stop our services -->
    <Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable" />

    <!--<Property Id="REINSTALLMODE" Value="omus" />-->

    <!--<ui:WixUI Id="WixUI_InstallDir" />-->
    <ui:WixUI Id="WixUI_Minimal" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <WixVariable Id="WixUILicenseRtf" Value="assets\Cisco_General_Terms.rtf" />

    <WixVariable Id="WixUIBannerBmp" Value="assets\banner-top.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="assets\banner-dialog-background-enterprise.bmp" />

    <Feature Id="TetragonOnWindows">
      <ComponentGroupRef Id="cgrp.eBPFWindows" />
      <ComponentGroupRef Id="comp.TetragonBinaries" />
      <ComponentGroupRef Id="comp.TetragonBpfDrivers" />
      <ComponentRef Id="comp.TetragonWindowsService" />
      <ComponentRef Id="comp.TracingPolicyDir" />
      <ComponentRef Id="comp.OtherPolicyDir" />
    </Feature>

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="dir.eBPFWindows" Name="ebpf-for-windows">
        <Directory Id="dir.eBPFWindows.Drivers" Name="drivers"/>
        <Directory Id="dir.eBPFWindows.Jit" Name="JIT"/>
      </Directory>

      <Directory Id="INSTALLFOLDER" Name="$(ProductDir)">
        <Directory Id="dir.TetragonBinaries" Name="cmd" />
        <Directory Id="dir.TetragonBpfDrivers" Name="BPF"/>
        <Directory Id="dir.TracingPolicyDir" Name="tetragon.tp.d" />
        <Directory Id="dir.OtherPolicyDir" Name="tetragon.policies.d" />
      </Directory>
    </StandardDirectory>

    <InstallExecuteSequence>
      <!--
        eBPF for Windows
      -->

      <!-- eBPFCore -->
      <Custom Action="Install_eBPFCore" After="InstallFiles" Condition="NOT Installed" />
      <Custom Action="InstallRollback_eBPFCore" Before="Install_eBPFCore" Condition="NOT Installed" />
      <Custom Action="Start_eBPFCore" Before="StartServices" Condition="NOT Installed OR REINSTALL" />
      <Custom Action="StartRollback_eBPFCore" Before="Start_eBPFCore" Condition="NOT Installed OR REINSTALL" />
      <Custom Action="Stop_eBPFCore" After="StopServices" Condition='REINSTALL OR (Installed AND (REMOVE="ALL"))' />
      <Custom Action="StopRollback_eBPFCore" Before="Stop_eBPFCore" Condition='REINSTALL OR (Installed AND (REMOVE="ALL"))' />
      <Custom Action="Uninstall_eBPFCore" After="DeleteServices" Condition='Installed AND (REMOVE="ALL")' />
      <Custom Action="UninstallRollback_eBPFCore" Before="Uninstall_eBPFCore" Condition='Installed AND (REMOVE="ALL")' />
      <Custom Action="Flush_eBPFCore" Before="InstallFinalize" />

      <!-- NetEbpfExt -->
      <Custom Action="Install_NetEbpfExt" After="InstallFiles" Condition="NOT Installed" />
      <Custom Action="InstallRollback_NetEbpfExt" Before="Install_NetEbpfExt" Condition="NOT Installed" />
      <Custom Action="Start_NetEbpfExt" Before="StartServices" Condition="NOT Installed OR REINSTALL" />
      <Custom Action="StartRollback_NetEbpfExt" Before="Start_NetEbpfExt" Condition="NOT Installed OR REINSTALL" />
      <Custom Action="Stop_NetEbpfExt" After="StopServices" Condition='REINSTALL OR (Installed AND (REMOVE="ALL"))' />
      <Custom Action="StopRollback_NetEbpfExt" Before="Stop_NetEbpfExt" Condition='REINSTALL OR (Installed AND (REMOVE="ALL"))' />
      <Custom Action="Uninstall_NetEbpfExt" After="DeleteServices" Condition='Installed AND (REMOVE="ALL")' />
      <Custom Action="UninstallRollback_NetEbpfExt" Before="Uninstall_NetEbpfExt" Condition='Installed AND (REMOVE="ALL")' />

      <!-- ebpfnetsh.dll -->
      <Custom Action="Install_ebpfnetsh_helper" After="InstallFiles" Condition="NOT Installed" />
      <Custom Action="InstallRollback_ebpfnetsh_helper" Before="Install_ebpfnetsh_helper" Condition="NOT Installed" />
      <Custom Action="Uninstall_ebpfnetsh_helper" Before="RemoveFiles" Condition='Installed AND (REMOVE="ALL")' />
      <Custom Action="UninstallRollback_ebpfnetsh_helper" Before="Uninstall_ebpfnetsh_helper" Condition='Installed AND (REMOVE="ALL")' />

      <!-- export_program_info -->
      <Custom Action="Install_eBPF_store_clear_HKLM" Before="StartServices" Condition="NOT Installed OR REINSTALL" />
      <Custom Action="InstallRollback_eBPF_store_clear_HKLM" Before="Install_eBPF_store_clear_HKLM" Condition="NOT Installed OR REINSTALL" />
      <Custom Action="Install_eBPF_store_setup_HKLM" After="Install_eBPF_store_clear_HKLM" Condition="NOT Installed OR REINSTALL" />
      <Custom Action="Uninstall_eBPF_store_clear_HKLM" Before="RemoveFiles" Condition='Installed AND (REMOVE="ALL")' />

      <Custom Action="Install_eBPF_store_clear_HKCU" Before="StartServices" Condition="NOT Installed OR REINSTALL" />
      <Custom Action="InstallRollback_eBPF_store_clear_HKCU" Before="Install_eBPF_store_clear_HKCU" Condition="NOT Installed OR REINSTALL" />
      <Custom Action="Install_eBPF_store_setup_HKCU" After="Install_eBPF_store_clear_HKCU" Condition="NOT Installed OR REINSTALL" />
      <Custom Action="Uninstall_eBPF_store_clear_HKCU" Before="RemoveFiles" Condition='Installed AND (REMOVE="ALL")' />


      <!--
        Tetragon Enterprise
      -->

      <!-- NtosEbpfExt -->
      <Custom Action="Install_NtosEbpfExt" After="InstallFiles" Condition="NOT Installed" />
      <Custom Action="InstallRollback_NtosEbpfExt" Before="Install_NtosEbpfExt" Condition="NOT Installed" />
      <Custom Action="Start_NtosEbpfExt" Before="StartServices" Condition="NOT Installed OR REINSTALL" />
      <Custom Action="StartRollback_NtosEbpfExt" Before="Start_NtosEbpfExt" Condition="NOT Installed OR REINSTALL" />
      <Custom Action="Stop_NtosEbpfExt" After="StopServices" Condition='REINSTALL OR (Installed AND (REMOVE="ALL"))' />
      <Custom Action="StopRollback_NtosEbpfExt" Before="Stop_NtosEbpfExt" Condition='REINSTALL OR (Installed AND (REMOVE="ALL"))' />
      <Custom Action="Uninstall_NtosEbpfExt" After="DeleteServices" Condition='Installed AND (REMOVE="ALL")' />
      <Custom Action="UninstallRollback_NtosEbpfExt" Before="Uninstall_NtosEbpfExt" Condition='Installed AND (REMOVE="ALL")' />

      <!-- ntos_ebpf_ext_export_program_info -->
      <Custom Action="Install_TetraeBPF_store_clear_HKLM" Before="StartServices" Condition="NOT Installed OR REINSTALL" />
      <Custom Action="InstallRollback_TetraeBPF_store_clear_HKLM" Before="Install_TetraeBPF_store_clear_HKLM" Condition="NOT Installed OR REINSTALL" />
      <Custom Action="Install_TetraeBPF_store_setup_HKLM" After="Install_TetraeBPF_store_clear_HKLM" Condition="NOT Installed OR REINSTALL" />
      <Custom Action="Uninstall_TetraeBPF_store_clear_HKLM" Before="RemoveFiles" Condition='Installed AND (REMOVE="ALL")' />

      <Custom Action="Install_TetraeBPF_store_clear_HKCU" Before="StartServices" Condition="NOT Installed OR REINSTALL" />
      <Custom Action="InstallRollback_TetraeBPF_store_clear_HKCU" Before="Install_TetraeBPF_store_clear_HKCU" Condition="NOT Installed OR REINSTALL" />
      <Custom Action="Install_TetraeBPF_store_setup_HKCU" After="Install_TetraeBPF_store_clear_HKCU" Condition="NOT Installed OR REINSTALL" />
      <Custom Action="Uninstall_TetraeBPF_store_clear_HKCU" Before="RemoveFiles" Condition='Installed AND (REMOVE="ALL")' />

    </InstallExecuteSequence>

  </Package>

</Wix>
