.app {
  position: relative;
  display: flex;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  overflow: hidden;
  font-size: 0.9em;
  padding: 20px;

  ::before,
  ::after,
  * {
    box-sizing: border-box;
    margin: 0;

    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono",
      monospace;
  }
}

.tree {
  position: relative;
  max-width: 50%;
  max-height: 100%;
  padding-left: 2px;
  overflow: auto;
  scrollbar-width: none;
  overscroll-behavior-y: none;
  flex: 2;
  z-index: var(--ipt-z-index-tree);
}

.endpoints {
  position: relative;
  max-width: 50%;
  max-height: 100%;
  overflow: auto;
  scrollbar-width: none;
  overscroll-behavior-y: none;
  flex: 1;
  z-index: var(--ipt-z-index-tree);
}

.connectionsLines {
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--ipt-z-index-connections-canvas);
  width: 100%;
  max-height: 100%;
}
