.app {
  position: relative;
  display: flex;

  ::before,
  ::after,
  * {
    box-sizing: border-box;
    margin: 0;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  }
}

.tree {
  position: relative;
  flex: 2;
  z-index: 2;
}

.endpoints {
  position: relative;
  flex: 1;
  z-index: 2;
}

.connectionsLines {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}
