.connector {
  position: relative;
  top: 0.5px;
  display: flex;
  flex-wrap: nowrap;
  margin-left: 10px;
  margin-right: 10px;
  height: 10px;
  border-radius: 3px;
}

.part {
  width: 7px;
  height: 100%;
  background: hsl(from var(--ipt-color-entity-destination-internal) h s calc(l + 10));

  &:first-child {
    border-radius: 3px 0 0 3px;
  }

  &:last-child {
    border-radius: 0 3px 3px 0;
  }

  &:first-child:last-child {
    border-radius: 3px;
  }

  &.entityDestinationExternal {
    background: hsl(from var(--ipt-color-entity-destination-external) h s calc(l + 10));
  }

  &.entityDestinationKubernetes {
    background: hsl(from var(--ipt-color-entity-destination-kubernetes) h s calc(l + 10));
  }

  &.entityFileEventRead {
    background: hsl(from var(--ipt-color-entity-file-event-read) h s calc(l + 10));
  }

  &.entityFileEventWrite {
    background: hsl(from var(--ipt-color-entity-file-event-write) h s calc(l + 10));
  }
}

:global(.ipt-highlighted) .part {
  background: var(--ipt-color-entity-destination-internal);
}

:global(.ipt-highlighted) .entityDestinationExternal {
  background: var(--ipt-color-entity-destination-external);
}

:global(.ipt-highlighted) .entityDestinationKubernetes {
  background: var(--ipt-color-entity-destination-kubernetes);
}

:global(.ipt-highlighted) .entityFileEventRead {
  background: var(--ipt-color-entity-file-event-read);
}

:global(.ipt-highlighted) .entityFileEventWrite {
  background: var(--ipt-color-entity-file-event-write);
}

:global(.ipt-muted) .part,
:global(.ipt-muted) .entityDestinationExternal,
:global(.ipt-muted) .entityDestinationKubernetes,
:global(.ipt-muted) .entityFileEventRead,
:global(.ipt-muted) .entityFileEventWrite {
  background: var(--ipt-color-entity-muted);
}
