.connector {
  position: relative;
  top: 1px;
  display: flex;
  flex-wrap: nowrap;
  margin-left: 10px;
  margin-right: 10px;
  height: 10px;
  border-radius: 3px;
}

.part {
  width: 7px;
  height: 100%;
  background: hsl(from var(--ipt-color-entity-inner) h s calc(l + 10));

  &:first-child {
    border-radius: 3px 0 0 3px;
  }

  &:last-child {
    border-radius: 0 3px 3px 0;
  }

  &:first-child:last-child {
    border-radius: 3px;
  }

  &.entityOuter {
    background: hsl(from var(--ipt-color-entity-outer) h s calc(l + 10));
  }

  &.entityKube {
    background: hsl(from var(--ipt-color-entity-kube) h s calc(l + 10));
  }
}

:global(.ipt-highlighted) .part {
  background: var(--ipt-color-entity-inner);
}

:global(.ipt-highlighted) .entityOuter {
  background: var(--ipt-color-entity-outer);
}

:global(.ipt-highlighted) .entityKube {
  background: var(--ipt-color-entity-kube);
}

:global(.ipt-muted) .part,
:global(.ipt-muted) .entityOuter,
:global(.ipt-muted) .entityKube {
  background: var(--ipt-color-entity-muted);
}
