.endpoint {
  display: flex;
  cursor: default;
  align-items: flex-start;
  padding-top: 5px;
  padding-bottom: 5px;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  :global(.ipt-tree-item-stat) {
    top: -1px;
  }
}

.icon {
  position: relative;
  top: 0;
  align-self: flex-start;
  margin-right: 7px;
}

.connector {
  position: relative;
  top: 10.5px;
}

.port {
  padding: 0 5px 2px 0;
}

.fileEventKind {
  margin-left: 10px;
  font-size: 10px;
  color: #444;
}

@property --ipt-color-entity-destination-inner-color-prop {
  syntax: "<color>";
  initial-value: transparent;
  inherits: false;
}

@property --ipt-color-entity-destination-outer-color-prop {
  syntax: "<color>";
  initial-value: transparent;
  inherits: false;
}

@property --ipt-color-entity-destination-kubernetes-color-prop {
  syntax: "<color>";
  initial-value: transparent;
  inherits: false;
}

@property --ipt-color-entity-file-event-read-color-prop {
  syntax: "<color>";
  initial-value: transparent;
  inherits: false;
}

@property --ipt-color-entity-file-event-write-color-prop {
  syntax: "<color>";
  initial-value: transparent;
  inherits: false;
}

.title {
  --ipt-color-entity-destination-inner-color-prop: hsl(
    from var(--ipt-color-entity-destination-inner) h s calc(l + 10)
  );
  display: inline-block;
  padding-left: 5px;
  border-radius: 3px 0 0 3px;
  background: linear-gradient(
    to right,
    var(--ipt-color-entity-destination-inner-color-prop),
    var(--ipt-color-page) 50%
  );
  transition: --ipt-color-entity-destination-inner-color-prop 1s ease-out, text-shadow 1s ease-in;
}

.entityDestinationOuter .title {
  --ipt-color-entity-destination-outer-color-prop: hsl(
    from var(--ipt-color-entity-destination-outer) h s calc(l + 20)
  );
  background: linear-gradient(
    to right,
    var(--ipt-color-entity-destination-outer-color-prop),
    var(--ipt-color-page) 50%
  );
  transition: --ipt-color-entity-destination-outer-color-prop 1s ease-in, text-shadow 1s ease-in;
}

.entityDestinationKubernetes .title {
  --ipt-color-entity-destination-kubernetes-color-prop: hsl(
    from var(--ipt-color-entity-destination-kubernetes) h s calc(l + 20)
  );
  background: linear-gradient(
    to right,
    var(--ipt-color-entity-destination-kubernetes-color-prop),
    var(--ipt-color-page) 50%
  );
  transition: --ipt-color-entity-destination-kubernetes-color-prop 1s ease-out, text-shadow 1s
    ease-in;
}

.entityDestinationKubernetesNamespace {
  margin-left: 5px;
  padding: 0 5px;
  border-radius: 3px;
  background-color: hsl(from var(--ipt-color-entity-destination-kubernetes) h s calc(l + 25));
}

.entityDestinationKubernetesKind {
  margin-left: 5px;
  font-size: 0.8em;
  color: var(--ipt-color-text-muted);
}

.entityDestinationKubernetesExpandLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px 2px;
  border-radius: 3px;
  margin-left: 10px;
  background: hsl(from var(--ipt-color-text-muted) h s calc(l + 20));

  &:hover {
    background: var(--ipt-color-text-muted);
  }
}

.entityFileEventRead .title {
  --ipt-color-entity-file-event-read-color-prop: hsl(
    from var(--ipt-color-entity-file-event-read) h s calc(l + 20)
  );
  background: linear-gradient(
    to right,
    var(--ipt-color-entity-file-event-read-color-prop),
    var(--ipt-color-page) 50%
  );
  transition: --ipt-color-entity-file-event-read-color-prop 1s ease-in, text-shadow 1s ease-in;
}

.entityFileEventWrite .title {
  --ipt-color-entity-file-event-write-color-prop: hsl(
    from var(--ipt-color-entity-file-event-write) h s calc(l + 20)
  );
  background: linear-gradient(
    to right,
    var(--ipt-color-entity-file-event-write-color-prop),
    var(--ipt-color-page) 50%
  );
  transition: --ipt-color-entity-file-event-write-color-prop 1s ease-in, text-shadow 1s ease-in;
}

.separator {
  color: hsl(from var(--ipt-color-separator) h s calc(l - 20));
}

.endpoint:hover,
.endpoint.highlighted {
  :global(.ipt-tree-item-stat) {
    color: hsl(from var(--ipt-color-entity-destination-inner) h s calc(l - 30));
  }

  .title {
    --ipt-color-entity-destination-inner-color-prop: hsl(
      from var(--ipt-color-entity-destination-inner) h s calc(l + 5)
    );
    text-shadow: -0.25px 0px 0 currentColor, 0.25px 0px 0 currentColor;
  }

  &.entityDestinationOuter .title {
    --ipt-color-entity-destination-outer-color-prop: hsl(
      from var(--ipt-color-entity-destination-outer) h s calc(l + 5)
    );
  }

  &.entityDestinationKubernetes .title {
    --ipt-color-entity-destination-kubernetes-color-prop: hsl(
      from var(--ipt-color-entity-destination-kubernetes) h s calc(l + 5)
    );
  }

  .entityDestinationKubernetesType {
    color: hsl(from var(--ipt-color-text-muted) h s calc(l - 10));
  }

  .entityDestinationKubernetesNamespace {
    background-color: hsl(from var(--ipt-color-entity-destination-kubernetes) h s calc(l + 20));
  }

  &.entityFileEventRead .title {
    --ipt-color-entity-file-event-read-color-prop: hsl(
      from var(--ipt-color-entity-file-event-read) h s calc(l + 5)
    );
  }

  &.entityDestinationWrite .title {
    --ipt-color-entity-file-event-write-color-prop: hsl(
      from var(--ipt-color-entity-file-event-write) h s calc(l + 5)
    );
  }
}

.pin {
  position: relative;
  top: -1px;
  margin-right: 5px;
  color: hsl(from var(--ipt-color-text-muted) h s calc(l - 5));
}

.endpoint.entityDestinationOuter {
  .pin,
  :global(.ipt-tree-item-stat) {
    color: hsl(from var(--ipt-color-entity-destination-outer) h s calc(l - 10)) !important;
  }
}

.endpoint.entityDestinationKubernetes {
  .pin,
  :global(.ipt-tree-item-stat) {
    color: hsl(from var(--ipt-color-entity-destination-kubernetes) h s calc(l - 10)) !important;
  }
}

.endpoint.entityFileEventRead {
  .pin,
  :global(.ipt-tree-item-stat) {
    color: hsl(from var(--ipt-color-entity-file-event-read) h s calc(l - 10)) !important;
  }
}

.endpoint.entityFileEventWrite {
  .pin,
  :global(.ipt-tree-item-stat) {
    color: hsl(from var(--ipt-color-entity-file-event-write) h s calc(l - 10)) !important;
  }
}

.endpoint.entityDestinationOuter.highlighted {
  :global(.ipt-tree-item-stat) {
    color: var(--ipt-color-entity-destination-outer) !important;
  }
}

.endpoint.entityDestinationKubernetes.highlighted {
  :global(.ipt-tree-item-stat) {
    color: var(--ipt-color-entity-destination-kubernetes) !important;
  }
}

.endpoint.entityFileEventRead.highlighted {
  :global(.ipt-tree-item-stat) {
    color: var(--ipt-color-entity-file-event-read) !important;
  }
}

.endpoint.entityFileEventWrite.highlighted {
  :global(.ipt-tree-item-stat) {
    color: var(--ipt-color-entity-file-event-write) !important;
  }
}
