.endpoint {
  display: flex;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.icon {
  position: relative;
  top: 0;
  align-self: flex-start;
  margin-right: 7px;
}

.connector {
  position: relative;
}

.title {
  display: inline-block;
  padding: 0 0 2px 5px;
  border-radius: 3px 0 0 3px;
  background: linear-gradient(to right, #ebebeb, #fff 50%);
}

.port {
  padding: 0 5px 2px 0;
}

.namespace {
  margin-left: 5px;
  padding: 0 5px;
  border-radius: 3px;
  background-color: #e8f4fb;
}

.k8sEntityName {
  background: linear-gradient(to right, #cbe7fa, #fff 50%);
}

.outerDns .title {
  background: linear-gradient(to right, #e2d6ff, #fff 50%);
}

.k8sEntityType {
  margin-left: 5px;
  font-size: 0.8em;
  color: #999;
}

.separator {
  color: #999;
}

.endpoint:hover,
.endpoint.highlighted {
  font-weight: 700;
  :global(.process-tree-item-statistic) {
    color: #555;
  }

  .title {
    background: linear-gradient(to right, #d8d8d8, #fff 50%);
  }

  &.outerDns .title {
    background: linear-gradient(to right, #c7b2f8, #fff 50%);
  }

  .k8sEntityName {
    background: linear-gradient(to right, #afdcfa, #fff 50%);
  }

  .k8sEntityType {
    color: #666;
  }

  .namespace {
    background-color: #cae7f9;
  }
}

.endpoint.outerDns {
  :global(.process-tree-item-statistic) {
    color: #8a66e0 !important;
  }
}

.endpoint.k8sEntity {
  :global(.process-tree-item-statistic) {
    color: #58abe2 !important;
  }
}

.endpoint.outerDns.highlighted {
  :global(.process-tree-item-statistic) {
    color: #7748e4 !important;
  }
}

.endpoint.k8sEntity.highlighted {
  :global(.process-tree-item-statistic) {
    color: #0b81d0 !important;
  }
}
