.header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.search {
  padding-top: 3px;

  input {
    width: 240px;
    padding: 3px 7px 3px 7px;
    border-radius: 3px;
    height: 1.5em;
    font-size: 1em;
    line-height: 1.5;
    border: none;
    background: hsl(from var(--ipt-color-separator) h s calc(l + 5));
    font-family: var(--ipt-font-sans-serif);
  }
}

.filters {
  padding-top: 3px;
  margin-right: 20px;
}

.endpointsList hr {
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  background: var(--ipt-color-separator);
  margin: 10px 0;
}

.emptySearch .emptySearchTitle {
  margin-left: 5px;
  font-family: var(--ipt-font-sans-serif);
  font-weight: 500;
  cursor: default;
}

.noEndpoints .noEndpointsTitle {
  margin-left: 5px;
  font-family: var(--ipt-font-sans-serif);
  font-weight: 500;
  cursor: default;
  color: var(--ipt-color-text-muted);
}
