.wrapper {
  display: flex;
  list-style: none outside;

  &,
  li {
    margin: 0;
    padding: 0;
  }

  li {
    button {
      color: #fff;
      padding: 0 5px;
      border: none;
      height: 1.5em;
      font-size: 1em;
      line-height: 1;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    }

    &:first-child {
      button {
        border-radius: 3px 0 0 3px;
      }
    }

    &:last-child {
      button {
        border-radius: 0 3px 3px 0;
      }
    }

    &.entity-outer {
      --color: var(--ipt-color-entity-outer);

      button {
        border: 1px solid var(--color);
        background: var(--color);

        &:hover {
          border-color: hsl(from var(--color) h s calc(l - 10));
          box-shadow: inset 0 0 6px hsl(from var(--color) h s calc(l - 10));
        }

        &:active {
          border-color: hsl(from var(--color) h s calc(l - 20));
          box-shadow: inset 0 0 6px hsl(from var(--color) h s calc(l - 20));
        }

        input,
        input:hover {
          accent-color: hsl(from var(--color) h s calc(l - 40));
        }
      }
    }

    &.entity-kube {
      --color: var(--ipt-color-entity-kube);

      button {
        border: 1px solid var(--color);
        background: var(--color);

        &:hover {
          border-color: hsl(from var(--color) h s calc(l - 15));
          box-shadow: inset 0 0 6px hsl(from var(--color) h s calc(l - 15));
        }

        &:active {
          border-color: hsl(from var(--color) h s calc(l - 25));
          box-shadow: inset 0 0 6px hsl(from var(--color) h s calc(l - 25));
        }

        input {
          accent-color: hsl(from var(--color) h s calc(l - 40));
        }
      }
    }

    &.entity-inner {
      --color: var(--ipt-color-entity-inner);

      button {
        border: 1px solid hsl(from var(--color) h s calc(l - 10));
        background: hsl(from var(--color) h s calc(l - 10));

        &:hover {
          border: 1px solid hsl(from var(--color) h s calc(l - 20));
          background: hsl(from var(--color) h s calc(l - 20));
        }

        &:active {
          border: 1px solid hsl(from var(--color) h s calc(l - 30));
          background: hsl(from var(--color) h s calc(l - 30));
        }

        input {
          accent-color: hsl(from var(--color) h s calc(l - 40));
        }
      }
    }
  }
}
