.inner {
  display: flex;
  align-items: center;
}

.namespacesIcon,
.namespaceIcon {
  position: absolute;
  top: 3px;
  margin-left: -14px;
  z-index: 2;
  background: #fff;
}

.namespacesTitle {
  color: #555;
}

.namespace {
  display: flex;
}
