.proc {
  cursor: default;

  &.suspicious {
    color: #d59011;
  }
}

.proc:has(> div.inner)::before {
  border-style: solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, var(--branch-color), var(--branch-color) 50%, #fff);
  border-width: 0 0 2px 2px;
}

.inner {
  display: flex;
  align-items: center;
}

.binary {
  max-width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  direction: rtl;
  text-align: left;
}

.arguments {
  display: block;
  max-width: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 7px;
  color: #999;
}

.proc:hover,
.proc:global(.ipt-highlighted) {
  font-weight: 700;
}
