.wrapper {
  position: relative;
  top: 1px;
  color: var(--ipt-color-entity-destination-inner);
  font-size: 0.8em;
  white-space: pre;
  word-spacing: -5px;
}

.suspiciousMarker {
  position: relative;
  top: 3px;
  display: inline-block;
  margin-left: 10px;
}

.drops {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;

  .dropsIcon {
    font-size: 10px;
    line-height: 10px;
    margin-left: 2px;
  }
}
