.wrapper {
  position: relative;
  top: 1px;
  color: var(--ipt-color-entity-inner);
  font-size: 0.8em;
  white-space: pre;
  word-spacing: -5px;
}

.suspiciousMarker {
  position: relative;
  top: 3px;
  display: inline-block;
  margin-left: 10px;
}
