.tree {
  --padding: 1.5rem;
  --radius: 4px;

  color: var(--ipt-color-text);

  ul {
    margin-left: calc(var(--radius) - var(--padding));
    padding-left: 0;
  }

  & > ul > li:first-child::before {
    border: none;
  }

  details > summary::before {
    content: "";
    display: block;
    position: absolute;
    top: calc(var(--padding) / 2 - var(--radius) - 2px);
    left: calc(var(--padding) - var(--radius) - 1px);
    width: calc(2 * var(--radius));
    height: calc(2 * var(--radius));
    background-color: var(--ipt-color-tree-branch);
    border-radius: 50%;
  }

  li {
    display: block;
    position: relative;
    padding-left: calc(2 * var(--padding) - var(--radius) - 2px);
    border-left: 2px solid var(--ipt-color-tree-branch);

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: calc(var(--padding) / -2);
      left: -2px;
      width: calc(var(--padding) + 2px);
      height: calc(var(--padding) - 1px);
      border: solid var(--ipt-color-tree-branch);
      border-width: 0 0 2px 2px;
    }

    &::after {
      background: var(--ipt-color-tree-branch);
    }

    &:last-child {
      border-color: transparent;
    }
  }

  summary {
    width: 100%;
    display: inline-block;
    cursor: default;

    &::marker,
    &::-webkit-details-marker {
      display: none;
    }

    &:hover > div > span:nth-child(2) {
      border-radius: 3px;
      background-color: hsl(from var(--ipt-color-tree-branch) h s calc(l + 20));
    }

    &:focus {
      outline: none;
    }
  }

  li details > summary > div,
  li > div {
    margin-left: calc(var(--padding) * -1 + var(--radius));
    padding-left: calc(var(--radius) * 2);

    & > span {
      margin-left: 1px;
      padding: 0 3px;
    }
  }

  li details > summary:hover,
  li > div:hover,
  :global(.ipt-interactive.ipt-highlighted) {
    :global(.ipt-tree-item-stat) {
      color: hsl(from var(--ipt-color-entity-inner) h s calc(l - 30));
    }

    &:global(.ipt-endpoint-outer) :global(.ipt-tree-item-stat) {
      color: hsl(from var(--ipt-color-entity-outer) h s calc(l - 10));
    }

    &:global(.ipt-endpoint-kube) :global(.ipt-tree-item-stat) {
      color: hsl(from var(--ipt-color-entity-kube) h s calc(l - 10));
    }
  }

  li details > summary > div > span,
  li > div > span {
    line-height: 1.5;
    background-color: rgb(from var(--ipt-color-page) r g b / 75%);
  }
}
