engine-strict=true
save-exact=true
ignore-scripts=true
save-prefix=''

@isovalent-eng-npm:registry=https://artifactory.devhub-cloud.cisco.com/artifactory/api/npm/isovalent-eng-npm/
//artifactory.devhub-cloud.cisco.com/artifactory/api/npm/isovalent-eng-npm/:_authToken=${ARTIFACTORY_ID_TOKEN}